.done{
	text-decoration: line-through;color:#ccc;
}

#instafeed img {
    padding: 1px;
    opacity: 0.8;
    height: 25em;
    width: 25em;
    float: left;
    display: inline;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

#instafeed img:hover {
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);

}

#header {
	text-align: center;
	font-family: neue;
}